extends layout
block content
    .main-content
    <!-- Create the city dropdown box -->
    div(class="lform")
        form(action="city-response" method="POST" class="w-75")
            <!-- Enable padding only on the top -->
            div(class="row pt-2")
                div(class="col mr-n5")
                    <!-- Build the City Textbox -->
                    div(class="form__div")
                        input(type="text" class="form__input" placeholder=" " list="cities" name="cityCityInput" value="Select All" onclick="determineCityData()" style="tStyles")
                        label(for="" class="form__label") City

                <!-- Column 2: Continent Textbox -->
                div(class="col mr-n5")
                    <!-- Build the Continent Textbox -->
                    div(class="form__div")
                        input(type="text" class="form__input" placeholder=" " list="continents" name="continentCityInput" style="tStyles")
                        label(for="" class="form__label") Continent

                <!-- Column 3: Region Textbox -->
                div(class="col mr-n5")
                    <!-- Build the Region Textbox -->
                    div(class="form__div")
                        input(type="text" class="form__input" placeholder=" " list="regions" name="regionCityInput" style="tStyles")
                        label(for="" class="form__label") Region

                <!-- Column 4: Country Textbox -->
                div(class="col mr-n5")
                    <!-- Build the Country Textbox -->
                    div(class="form__div")
                        input(type="text" class="form__input" placeholder=" " list="countries" name="countryCityInput" style="tStyles")
                        label(for="" class="form__label") Country

                <!-- Column 5: District Textbox -->
                div(class="col mr-n5")
                    <!-- Build the District Textbox -->
                    div(class="form__div")
                        input(type="text" class="form__input" placeholder=" " list="districts" name="districtCityInput" style="tStyles")
                        label(for="" class="form__label") District

                <!-- Placement of the Submit Button -->
                div(class="col mr-n5")
                    - const bStyles = {"margin": ".35em"};
                    button(type="submit" style=bStyles id="btn-create" class="btn btn-success" i class="fa fa-plus-circle" aria-hidden="true" name="create" dat-toggle="tooltip" data-placement="bottom" title="Create")


        <!-- Input all the cities within the datalist for the city-textbox -->
        datalist(id="cities")
            option(value="Select All")
            for city in cityList
                option(value=city)  

        <!-- Input all the continents within the datalist for the continent textbox -->
        datalist(id="continents")
            for continent in continentList
                option(value=continent)

        <!-- Input all the regions within the datalist for the Regions textbox -->
        datalist(id="regions")
            for region in regionList
                option(value=region)

        <!-- Input all the countries within the datalist for the Countries textbox -->
        datalist(id="countries")
            for country in countryList
                option(value=country)
                
        <!-- Input all the districts within the datalist for the Districts textbox -->
        datalist(id="districts")
            for district in districtList
                option(value=district)

    <!-- Bootstrap table -->
    div(class="d-flex table-data")
        - const tStyles = {"margin": "9.5em 10em"};
        table(style=tStyles class="table table-striped table-dark")
            <!-- Add the Table Headers as a Row -->
            thead(class="thead-dark")
                tr
                    th Name
                    th Country
                    th District
                    th Population
            <!-- Add the Results from the Country Response -->
            tbody(id="tbody")
                for element in city.data
                    tr
                        td #{element.Name}
                        td #{element.Country}
                        td #{element.District}
                        td #{element.Population}

    style
        include ./../app.js                
    <!-- Adding Bootstrap components (jQuery, Popper.js) to our application -->
    <!-- These components will be utilized for our more interactive features and designs -->
    script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"