extends layout
block content
    .main-content
    <!-- Construct a rectangle-like structure on top of the webpage -->
    div(class="container text-center")
        <!-- Align the header in the center of the document -->
        div(class="py-4 bg-dark text-light rounded" style="text-align:center")
            <!-- Place the Globe icon next to the 'Geopop' Header -->
            h1(i class="fa fa-globe" aria-hidden="true" style="font-size:50px")  Geopop

        <!-- Construct a Country text box -->
        div(class="d-flex justify-content-center")
            form(action='/received-response' method='POST' class="w-50")
                div(class="pt-4")
                    div(class="input-group mb-2")
                        div(class="input-group-prepend")
                            <!-- Add icon next to the textbox -->
                            div(class="input-group-text bg-warning" i class="fa fa-map-marker" aria-hidden="true") 
                        input(type="text" autocomplete="off" class="form-control" id="inlineFormInputGroup" placeholder="Country" name="country" list="countries" value=country.Name)

                div(class="row pt-2")
                    <!-- Create a Rank text box -->
                    div(class="col")
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                <!-- Add icon next to the textbox -->
                                div(class="input-group-text bg-warning" i class="fa fa-sort-numeric-desc" aria-hidden="true") 
                            input(type="number" autocomplete="off" class="form-control" id="inlineFormInputGroup" placeholder="Rank by Pop" name="rank")
                    <!-- Create an Order text box -->
                    div(class="col")
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                <!-- Add icon next to the textbox -->
                                div(class="input-group-text bg-warning" i class="fa fa-sort" aria-hidden="true") 
                            input(type="text" autocomplete="off" class="form-control" id="inlineFormInputGroup" placeholder="Order" name="order" disabled="true")

                <!-- Let's create some buttons -->
                div(class="d-flex justify-content-center")
                    - const bStyles = {"margin": "1.5em 0.6em", "padding": "0.5em 2.4em"};
                    button(style=bStyles id="btn-delete" class="btn btn-danger" i class="fa fa-trash" aria-hidden="true" name="delete" dat-toggle="tooltip" data-placement="bottom" title="Delete" disabled="true") 
                    button(style=bStyles id="btn-save" class="btn btn-info" i class="fa fa-floppy-o" aria-hidden="true" name="save" dat-toggle="tooltip" data-placement="bottom" title="Save" disabled="true") 
                    button(type="submit" style=bStyles id="btn-create" class="btn btn-success" i class="fa fa-plus-circle" aria-hidden="true" name="create" dat-toggle="tooltip" data-placement="bottom" title="Create") 

            datalist(id="countries")
                for country in countryList
                    option(value=country)

        <!-- Bootstrap table -->
        div(class="d-flex table-data")
            - const tStyles = {"margin": "1em 10em"};
            table(style=tStyles class="table table-striped table-dark")
                <!-- Add the Table Headers as a Row -->
                thead(class="thead-dark")
                    tr
                        th Code
                        th Name
                        th Continent
                        th Region
                        th Population
                        th Capital
                <!-- Add the Results from the Country Response -->
                tbody(id="tbody")
                    for element in country.data
                        tr
                            td #{element.Code}
                            td #{element.Name}
                            td #{element.Continent}
                            td #{element.Region}
                            td #{element.Population}
                            td #{element.Capital}

                        
    <!-- Adding Bootstrap components (jQuery, Popper.js) to our application -->
    <!-- These components will be utilized for our more interactive features and designs -->
    script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"